CheckOnepanman:
  OS: 'windows'  # windows or linux
  ChromeDriverPath: 'Chrome Driver Path'
  TargetURL: 'Onepanman URL[https://tonarinoyj.jp/episode/13932016480028985383]'
  ScrollDownNum: 1000
  KeyFilePath: 'dynamic/key.txt'
  AWS:
    AccessKeyId:
    SecretAccessKey:
    SNSTopicARN:
